.header, 
.footer{
    padding: 20px;
    background-color: purple;
}
.header h1{
display: inline-block;
font-size: 45px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 28px;
    color: white;
}
.header nav ul li {
    display: inline;
    margin-left: 25px;
}
.main {
    width: 100%;
    background-color: royalblue;
}
.About-Me{
    color: white;
}
.Howdy{
    height: 700px;
    width: 100%;
    background-image: url("./images/Howdy.jpg");
    background-size: cover;
    background-position: center;
}
.My-Students{
    display: inline;
    color: white;
}
.footer{
    text-align: center;
}

.Enrollment{
    text-align: center;
    width: 33vw;
}
h2{
    text-align: center;
    color: white;
}

